# PostgreSQL Configuration
POSTGRESQL_CONNECTION="Server=localhost;Port=5432;Database=lumini_db;User Id=postgres;Password=your_password;"
POSTGRESQL_NAME="lumini_db"

# MongoDB Configuration
MONGODB_CONNECTION="mongodb://localhost:27017"
MONGODB_NAME="lumini_mongodb"

# JWT Configuration
SECRET_KEY='your_super_secret_key_with_at_least_32_characters_for_security'
AUDIENCE="your_app_audience"
ISSUER="your_app_issuer"
JWT_EXPIRATION_HOURS="3"
